NEXT_PUBLIC_SUPABASE_URL=https://wvrwdqercwhmdedymxfm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind2cndkcWVyY3dobWRlZHlteGZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDIwODMxMzIsImV4cCI6MjA1NzY1OTEzMn0.66g7Q-YELr7vyrruvIzmgSrpjJyAJxsyUL7hsLcTLws
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind2cndkcWVyY3dobWRlZHlteGZtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MjA4MzEzMiwiZXhwIjoyMDU3NjU5MTMyfQ.73XfB5ndhflpKE36TwZYZQv_-_n2fesB3wcSagKCIZ8
NEXT_PUBLIC_BASE_URL=http://localhost:3000
QC_API_TOKEN=6ba4ceb56a6134eb7b5feeac0b557b82
USE_QC_PROXY=6ba4ceb56a6134eb7b5feeac0b557b82
TELEGRAM_BOT_TOKEN=7956026984:AAHPAkXHX19A7P6WGz3FH8M9tHMYZxcjNds
TELEGRAM_CHAT_ID=@kakobuyfinds